.sidebar {
  &__container {
    padding: 19px 10px 0 22px;
    width: 268px;

    display: flex;

    flex-direction: column;
    justify-content: space-between;
    height: 92vh;
    border-right: 1px solid var(--border-color);
  }
  &__items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__links-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  &__buttons-container {
    display: flex;
    gap: 10px;
  }

  &__edit-icon {
    transform: scale(0.8);
  }
  &__delete-icon {
    transform: scale(0.8);
  }

  &__item-link {
    font-family: "inter-regular", sans-serif;
    font-size: 16px;
    opacity: 60%;
  }

  &__add-btn {
    height: 32px;
    width: 176px;
    color: var(--main-btn);
    border: 1px solid var(--main-btn);
    border-radius: 99px;
  }

  &__settings-btn_wrapper {
    display: flex;

    align-items: center;
    gap: 12px;
  }
  &__settings-btn-icon {
    width: 12px;
    height: 12px;
  }
  &__settings-link {
    font-size: 12px;
    font-family: "inter-regular", sans-serif;
    opacity: 60%;
  }
}

.sidebar__item-link.active {
  opacity: 1;
  font-family: "inter-bold", sans-serif;
}
