.header {
  &__container {
    padding: 24px 64px 20px 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
  }
  &__title {
    //height: 76px;
    font-size: 18px;
    color: var(--main-text);
    font-family: "inter-bold", sans-serif;
  }

  &__user-info {
    position: absolute;

    top: 10px;
    right: 24px;

    z-index: 1000; /* or any value greater than the z-index of other content */
  }

  &__name-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__btn {
    width: 18px;
    height: 12px;

    display: flex;
    flex-direction: column;
    gap: 3px;
    span {
      width: 18px;
      height: 2px;
      background-color: var(--main-text);
    }
  }
}

.user {
  display: flex;
  gap: 12px;
  align-items: center;
  &__settings {
    display: flex;

    flex-direction: column;
    gap: 8px;
  }
  &__image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__wrapper {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__login {
    font-size: 16px;
    font-family: "inter-regular", sans-serif;
  }

  &__role {
    font-size: 12px;
    font-family: "inter-regular", sans-serif;
    opacity: 60%;
  }
}
