<header class="header" >
  <div class="header__container">
    <div class="header__name-wrapper">
      <div class="header__btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <p class="header__title">Доска заявок на сервисное обслуживание</p>
    </div>
    <div  class="header__user user">
      <img ngxGravatar [email]="user.email || ''" alt="" class="user__image">
      <div class="user__wrapper">
        <p class="user__login">{{user.email}}</p>
        <p class="user__role">Администратор</p>
      </div>
      <button  mat-raised-button (click)="onSignOut()">Logout</button>
    </div>
  </div>
</header>
