<div class="card">
  <div class="card__container">
    <div class="card__color-indicator"
         [ngClass]="{
      'low': card.priority === 0,
      'mid': card.priority === 1,
      'high': card.priority === 2
      }"
    >
    </div>
    <div class="card__header">
      <div class="card__header-info-wrapper">
        <p class="card__header-title">{{card.title}}</p>
        <p class="card__header-text">{{card.price | currency: 'RUB':'symbol-narrow'}}</p>
        <p class="card__body-text_small">{{card.created_at | date: 'dd MMMM yyyy' : ''}}</p>
      </div>
      <div class="card__header-icons-wrapper">
        <img class="card__header-icon" src="../../../../assets/icons/phone.svg" alt="phone">
        <img class="card__header-icon" src="../../../../assets/icons/mail.svg" alt="mail">
        <img class="card__header-icon" src="../../../../assets/icons/message.svg" alt="message">
        <img (click)="onDeleteCard(card)" class="card__header-icon" src="../../../../assets/icons/delete.svg" alt="delete">
      </div>
    </div>
    <div class="card__body">
      <div class="card__body-wrapper">
        <p class="card__body-date">Edit date</p>
        <p class="card__body-text">{{card.edited_at | date: 'dd MMMM yyyy' : ''}}</p>
        <div class="card__body-user-wrapper">
          <p class="card__body-text_small">Executor</p>
          <div class="card__body-user-info-wrapper">
            <img ngxGravatar [email]="card.owner_email" class="card__body-user-img" src="" alt="">
            <p class="card__body-user-name">{{card.owner_email}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card__footer">
      <div class="card__footer-counter-wrapper">
        <p class="card__body-text_small">Дела</p>
        <p class="card__footer-counter">3</p>
      </div>
      <button (click)="openDialog()" class="card__footer-edit-btn">+ Edit card</button>
    </div>
  </div>
</div>

