<mat-card class="add-task">
  <div class="add-task__header">

    <div class="add-task__header-priority"
         [ngClass]="{
      'low': newCard.priority === 0,
      'mid': newCard.priority === 1,
      'high': newCard.priority === 2
      }">
    </div>

    <div class="add-task__header-container">

      <div class="add-task__header-wrapper">
        <div class="add-task__header-title">Adding a request</div>
        <button class="add-task__header-settings"
                mat-icon-button
                aria-label="icon button with a vertical three dot icon"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>

      <div class="add-task__list-name">
        <div class="add-task__header-wrapper">
          <button [matMenuTriggerFor]="statues" type="button">{{newListTitle}}</button>
          <mat-menu #statues="matMenu">
            <ng-container *ngFor="let list of lists">
              <button mat-menu-item (click)="setListForCard(list.id, list.title)">
                {{ list.title }}
              </button>
            </ng-container>
          </mat-menu>
          <p class="add-task__list-status">{{ listNames[0].title }}</p>
        </div>
      </div>

    </div>

  </div>

  <mat-dialog-content>
    <h1>{{ newCardTitle }}</h1>

    <div class="add-task__input-container">
      <span>Название сделки:</span>
      <input type="text"
             class="add-task__input"
             placeholder="Введите название задачи"
             #nameInput
             [(ngModel)]="newCard.title"
      />
    </div>

    <div class="add-task__input-container">
      <span>Стоимость сделки:</span>
      <input type="number"
             class="add-task__input"
             placeholder="Введите стоимость задачи"
             #nameInput
             [(ngModel)]="newCard.price"
      />
    </div>

    <div class="add-task__input-container">
      <span>Приоритет:</span>
      <button [matMenuTriggerFor]="priorities"
              type="button"
              class="add-task__drop-btn"
      >
      <span
        [ngClass]="{
      'low-text': newCard.priority === 0,
      'mid-text': newCard.priority === 1,
      'high-text': newCard.priority === 2
      }"
      >{{ allPriorities[newCard.priority].name }}</span>
      </button>

      <mat-menu #priorities="matMenu">
        <ng-container *ngFor="let priority of filterPriorities()">
          <button mat-menu-item (click)="setPriority(priority.id)">
          <span
            [ngClass]="{
      'low-text': priority.id === 0,
      'mid-text': priority.id === 1,
      'high-text': priority.id === 2
      }"
          >{{ priority.name }}</span>
          </button>
        </ng-container>
      </mat-menu>
    </div>

    <div class="add-task__input-container">
      <span>Исполнитель:</span>
      <button [matMenuTriggerFor]="users"
              type="button"
              class="add-task__drop-btn">
        <ng-container>
          <div class="add-task__input-user">
            <img ngxGravatar [email]="newCardEmail"
                 alt="Фото пользователя"
                 width="24px"
                 height="24px"
            />
            <span>
            {{ newCardEmail }}
          </span>
          </div>
        </ng-container>
      </button>
      <mat-menu #users="matMenu">
        <ng-container *ngFor="let user of userEmailList let i = index;">
          <button mat-menu-item
                  (click)="newCard.owner_email = userEmailList[i]">
            <div class="add-task__input-user">
              <img ngxGravatar [email]="user"
                   alt="Фото пользователя"
                   width="24px"
                   height="24px"
              />
              <span>{{ user }}</span>
            </div>
          </button>
        </ng-container>
      </mat-menu>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button
            class="exit-dialog"
            (click)="closeDialog()">
      Отменить
    </button>
    <button mat-raised-button
            color="primary"
            class="save-info"
            (click)="addCard()"
    >
      Сохранить
    </button>
  </mat-dialog-actions>
</mat-card>
