.add-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    min-width: 520px;
  }

  &__header-priority {
    height: 8px;
  }

  &__header-container {
    padding: 18px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  &__header-settings {
    transform: (0.8);
  }
  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-title {
    font-family: "inter-semi-bold", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }

  &__list-name {
  }
  &__list-status {
    font-family: "inter-semi-bold", sans-serif;
    font-size: 12px;
    border: 1px solid var(--cian-card-header);
    color: var(--cian-card-header);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    min-width: 84px;
    height: 24px;
  }
  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 14px;
  }
  &__input {
    width: 480px;
    box-sizing: border-box;
    padding-left: 15px;
    border: 1px solid var(--input-color);
    font-size: 16px;
    height: 40px;
    border-radius: 4px;
    outline: none;
  }
  &__drop-btn {
    width: 480px;
    box-sizing: border-box;
    padding-left: 15px;
    border: 1px solid var(--input-color);
    font-size: 16px;
    height: 40px;
    border-radius: 4px;
    outline: none;
  }

  &__input-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

.low {
  background-color: var(--yellow-card-header);
}
.mid {
  background-color: var(--purple-card-header);
}
.high {
  background-color: var(--cian-card-header);
}

.low-text {
  color: var(--yellow-card-header);
}
.mid-text {
  color: var(--purple-card-header);
}
.high-text {
  color: var(--cian-card-header);
}
