<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<main class="page">
<mat-card class="login-page">
  <div class="login-page__container" *ngIf="!linkSuccess; else check_mails">
  <mat-card-header  >
    <mat-card-title class="login-page__app-name" >Service Board</mat-card-title>
  </mat-card-header>
  <mat-card-actions class="login-page__actions">
    <mat-form-field >
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        [(ngModel)]="email"
        autocomplete="email"
        placeholder="yourEmail@gmail.com"
      >
    </mat-form-field>
    <button
      class="login-page__login-btn"
      (click)="signIn()"
      mat-raised-button
      color=primary
    > Send link
    </button>
  </mat-card-actions>
  </div>
  <ng-template #check_mails> Please check your emails!</ng-template>
</mat-card>
</main>



