<div class="search-box">
  <p class="search-box__title">Заявки</p>
  <button
    (click)="openDialog()"
    class="search-box__add-btn">+ Добавить сделку</button>
  <div class="search-box__input-container">
    <input type="text" class="search-box__input">
      <button class="search-box__reset-btn"><img src="../../../../assets/icons/reset.svg" alt="reset"></button>
      <button class="search-box__search-btn"><img src="../../../../assets/icons/search.svg" alt="search"></button>
  </div>
  <div class="search-box__filter-btn-container">
    <button class="search-box__filter-btn">Фильтры</button>
    <span class="search-box__filter-counter">5</span>
  </div>

</div>

